<ion-content>
  <ion-list lines="none">
    <ion-item>
      <h1>Status</h1>
    </ion-item>

    <ion-item>
      <ion-button fill="clear" class="full-width-button">
        <ion-avatar slot="start" class="profile-img">
          <img src="{{user.image}}" />
        </ion-avatar>
        <ion-list class="custom-list">
          <ion-item class="list-item-title">My status</ion-item>
          <ion-item class="list-item-info">{{user.created}}</ion-item>
        </ion-list>
      </ion-button>
    </ion-item>

    <ion-item></ion-item>

    <ion-item *ngFor="let new of news">
      <app-user-register [update]="true"  class="full-width-button"
      [name]="new.userName"
      [img]="new.image"
      [date]="new.created"
      ></app-user-register>
    </ion-item>

    <ion-item>
      <ion-button
        (click)="toggleViewedList()"
        color="medium"
        fill="clear"
        class="full-width-button"
      >
        <ion-label>Viewed updates</ion-label>
        <ion-icon name="arrow-up" slot="end" *ngIf="showViewed"></ion-icon>
        <ion-icon name="arrow-down" slot="end" *ngIf="!showViewed"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="showViewed">
      <ion-list>
        <ion-item *ngFor="let viewed of vieweds">
          <app-user-register class="full-width-button" [update]="true"
          [name]="viewed.userName"
          [img]="viewed.image"
          [date]="viewed.created">
        </app-user-register>
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-button
        (click)="toggleMutedList()"
        color="medium"
        fill="clear"
        class="full-width-button"
      >
        <ion-label>Muted updates</ion-label>
        <ion-icon name="arrow-up" slot="end" *ngIf="showMuted"></ion-icon>
        <ion-icon name="arrow-down" slot="end" *ngIf="!showMuted"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="showMuted">
      <ion-list class="custom-list">
        <ion-item *ngFor="let muted of muteds">
          <app-user-register class="full-width-button" [update]="true" [mutedUpdate]="true"
          [name]="muted.userName"
          [img]="muted.image"
          [date]="muted.created"
          ></app-user-register>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
